In [175]:
import kagglehub
import os
import numpy as np
import pandas as pd
import seaborn as sns

In [176]:

# Download latest version
path = kagglehub.dataset_download("kashnitsky/mlcourse")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Roshan\.cache\kagglehub\datasets\kashnitsky\mlcourse\versions\17

In [177]:
PATH_TO_DATA=r'C:\Users\Roshan\.cache\kagglehub\datasets\kashnitsky\mlcourse\versions\17'
folders=os.listdir(path=PATH_TO_DATA)
print(folders,len(folders))

['accidental-deaths-in-usa-monthly.csv', 'ads.csv', 'ads_hour.csv', 'adult.data.csv', 'adult_test.csv', 'adult_train.csv', 'affairs.csv', 'beauty.csv', 'credit_scoring_sample.csv', 'currency.csv', 'flight_delays_test.csv', 'flight_delays_train.csv', 'hostel_factors.csv', 'medium_posts.csv', 'microchip_tests.txt', 'mlbootcamp5_train.csv', 'samsung_test.txt', 'samsung_test_labels.txt', 'samsung_train.txt', 'samsung_train_labels.txt', 'site_dic.pkl', 'telecom_churn.csv', 'titanic_test.csv', 'titanic_train.csv', 'video_games_sales.csv', 'websites_test_sessions.csv', 'websites_train_sessions.csv', 'weights_heights.csv', 'wiki_machine_learning.csv', 'winequality-white.csv'] 30

In [178]:
Path_to_csv_file=os.path.join(PATH_TO_DATA,'telecom_churn.csv')
dataframe=pd.read_csv(Path_to_csv_file)
dataframe.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### We get the columns and size of dataframe

In [179]:
dataframe.columns,dataframe.__len__(),dataframe.shape

(Index(['State', 'Account length', 'Area code', 'International plan',
        'Voice mail plan', 'Number vmail messages', 'Total day minutes',
        'Total day calls', 'Total day charge', 'Total eve minutes',
        'Total eve calls', 'Total eve charge', 'Total night minutes',
        'Total night calls', 'Total night charge', 'Total intl minutes',
        'Total intl calls', 'Total intl charge', 'Customer service calls',
        'Churn'],
       dtype='object'),
 3333,
 (3333, 20))

In [180]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [181]:
dataframe['Churn']=dataframe['Churn'].astype("int64")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 520.9+ KB

In [182]:
dataframe.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [183]:
dataframe.describe(include=["object","bool","int64","float64"])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333,3333.000000,3333.000000,3333,3333,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
unique,51,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,WV,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,106,NaN,NaN,3010,2411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,101.064806,437.182418,NaN,NaN,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,NaN,39.822106,42.371290,NaN,NaN,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,NaN,1.000000,408.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,74.000000,408.000000,NaN,NaN,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,NaN,101.000000,415.000000,NaN,NaN,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,NaN,127.000000,510.000000,NaN,NaN,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,NaN,243.000000,510.000000,NaN,NaN,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [184]:
dataframe['Churn'].value_counts(normalize=True)

Churn
0    0.855086
1    0.144914
Name: proportion, dtype: float64

In [185]:
dataframe.sort_values(by=['Total day charge',"Churn"], ascending=[False,True])
dataframe.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [186]:
# Churn rate
dataframe['Churn'].mean()

np.float64(0.14491449144914492)

In [187]:
dataframe[dataframe['Churn']==1].describe(include=["object","int64","float64"])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,483,483.000000,483.000000,483,483,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.00000,483.000000,483.000000,483.000000,483.0
unique,51,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NJ,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,18,NaN,NaN,346,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,102.664596,437.817805,NaN,NaN,5.115942,206.914079,101.335404,35.175921,212.410145,100.561077,18.054969,205.231677,100.399586,9.235528,10.70000,4.163561,2.889545,2.229814,1.0
std,NaN,39.467820,42.792270,NaN,NaN,11.860138,68.997792,21.582307,11.729710,51.728910,19.724711,4.396762,47.132825,19.950659,2.121081,2.79319,2.551575,0.754152,1.853275,0.0
min,NaN,1.000000,408.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,70.900000,48.000000,6.030000,47.400000,49.000000,2.130000,2.00000,1.000000,0.540000,0.000000,1.0
25%,NaN,76.000000,408.000000,NaN,NaN,0.000000,153.250000,87.500000,26.055000,177.100000,87.000000,15.055000,171.250000,85.000000,7.705000,8.80000,2.000000,2.380000,1.000000,1.0
50%,NaN,103.000000,415.000000,NaN,NaN,0.000000,217.600000,103.000000,36.990000,211.300000,101.000000,17.960000,204.800000,100.000000,9.220000,10.60000,4.000000,2.860000,2.000000,1.0
75%,NaN,127.000000,510.000000,NaN,NaN,0.000000,265.950000,116.500000,45.210000,249.450000,114.000000,21.205000,239.850000,115.000000,10.795000,12.80000,5.000000,3.460000,4.000000,1.0
max,NaN,225.000000,510.000000,NaN,NaN,48.000000,350.800000,165.000000,59.640000,363.700000,168.000000,30.910000,354.900000,158.000000,15.970000,20.00000,20.000000,5.400000,9.000000,1.0

In [188]:
dataframe[dataframe['Churn']==1]['Total day minutes'].mean()

np.float64(206.91407867494823)

In [189]:
dataframe.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [190]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 520.9+ KB

In [191]:
dataframe['International plan'].value_counts()

International plan
No     3010
Yes     323
Name: count, dtype: int64

In [192]:
dataframe[(dataframe['Churn']==0) & (dataframe['International plan']=='No')]['Total intl minutes'].describe()

count    2664.000000
mean       10.185473
std         2.820070
min         0.000000
25%         8.400000
50%        10.200000
75%        12.100000
max        18.900000
Name: Total intl minutes, dtype: float64

In [193]:
# Indexing by column name
dataframe.loc[0:5,"State":"International plan"]

  State  Account length  Area code International plan
0    KS             128        415                 No
1    OH             107        415                 No
2    NJ             137        415                 No
3    OH              84        408                Yes
4    OK              75        415                Yes
5    AL             118        510                Yes

In [194]:
# indexing by index number
dataframe.iloc[0:5,0:4]

  State  Account length  Area code International plan
0    KS             128        415                 No
1    OH             107        415                 No
2    NJ             137        415                 No
3    OH              84        408                Yes
4    OK              75        415                Yes

In [195]:
dataframe[-1:]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.6,241.4,77,10.86,13.7,4,3.7,0,0

# To apply functions to each column, use apply():

In [196]:
dataframe.apply(np.max)

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes       395.0
Total night calls           175
Total night charge        17.77
Total intl minutes         20.0
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object

### apply

In [197]:
dataframe[dataframe['State'].apply(lambda state: state[0]=='W')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,0
3303,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,0
3319,WY,89,415,No,No,0,115.4,99,19.62,209.9,115,17.84,280.9,112,12.64,15.9,6,4.29,3,0
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0

In [198]:
dataframe['Price']= '$'+dataframe['Total night charge'].astype(str)

In [199]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   int64
 20  Price                   3333 non-null   object
dtypes: float64(8), int64(9), object(4)
memory usage: 546.9+ KB

In [200]:
dataframe.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,$11.01
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,$11.45
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,$7.32
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,$8.86
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,$8.41
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,...,18.75,203.9,118,9.18,6.3,6,1.70,0,0,$9.18
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,...,29.62,212.6,118,9.57,7.5,7,2.03,3,0,$9.57
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,...,8.76,211.8,96,9.53,7.1,6,1.92,0,0,$9.53
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,29.89,215.8,90,9.71,8.7,4,2.35,1,0,$9.71
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,...,18.87,326.4,97,14.69,11.2,5,3.02,0,0,$14.69

In [201]:
dataframe['Price']=dataframe['Price'].apply(lambda price: float(price[1:]))

In [202]:
dataframe.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,11.01
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,11.45
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,7.32
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,8.86
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,8.41

### The map method can be used to replace values in a column by passing a dictionary of the form {old_value: new_value} as its argument:

In [203]:
d={"No":False,"Yes":True}
if dataframe['International plan'].unique().tolist() not in [[True,False],[False,True]]:
    dataframe['International plan']=dataframe['International plan'].map(d)
dataframe.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,11.01
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,11.45
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,7.32
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,8.86
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,8.41

In [204]:
v=dataframe['International plan'].value_counts()

In [205]:
for i in v:
    print(i,v.index.to_list())

3010 [False, True]
323 [False, True]

In [206]:
dataframe["Voice mail plan"]=dataframe["Voice mail plan"].map(d)
dataframe.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,11.01
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,11.45
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,7.32
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,8.86
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,8.41

In [213]:
dataframe.sort_values(by='Number vmail messages',ascending=False,inplace=True)

In [214]:
dataframe.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
845,FL,144,415,False,True,51,283.9,98,48.26,192.0,...,16.32,196.3,85,8.83,10.0,4,2.70,1,0,8.83
2716,WV,137,510,False,True,50,186.5,94,31.71,178.0,...,15.13,215.6,100,9.70,12.1,4,3.27,2,0,9.70
2887,OR,134,415,False,True,50,208.8,130,35.50,132.9,...,11.30,136.7,107,6.15,11.1,4,3.00,2,0,6.15
1596,AR,63,510,False,True,49,214.9,86,36.53,198.2,...,16.85,170.8,139,7.69,8.2,5,2.21,0,0,7.69
277,SD,144,408,False,True,48,189.8,96,32.27,123.4,...,10.49,214.2,106,9.64,6.5,2,1.76,2,1,9.64
268,MO,64,510,False,True,48,94.4,104,16.05,136.2,...,11.58,147.4,89,6.63,4.5,4,1.22,0,0,6.63
1797,WV,92,415,False,True,47,141.6,95,24.07,207.9,...,17.67,203.6,95,9.16,10.2,11,2.75,0,0,9.16
1441,NC,172,408,False,True,47,274.9,102,46.73,186.6,...,15.86,245.0,123,11.03,8.8,2,2.38,1,0,11.03
3154,CT,73,415,False,True,47,173.7,117,29.53,204.0,...,17.34,174.6,94,7.86,6.3,3,1.70,2,0,7.86
2608,IN,81,408,False,True,46,168.3,124,28.61,270.9,...,23.03,222.5,98,10.01,6.7,2,1.81,4,0,10.01

### group by
#### df.groupby(by=grouping_columns)[columnstoshow].function()

In [219]:
columns_to_show=['Total day minutes','Total eve minutes','Total night minutes']
dataframe.groupby(by='Churn')[columns_to_show].describe(percentiles=[])

      Total day minutes                                            \
                  count        mean        std  min    50%    max
Churn
0                2850.0  175.175754  50.181655  0.0  177.2  315.6
1                 483.0  206.914079  68.997792  0.0  217.6  350.8

      Total eve minutes                                             \
                  count        mean        std   min    50%    max
Churn
0                2850.0  199.043298  50.292175   0.0  199.6  361.8
1                 483.0  212.410145  51.728910  70.9  211.3  363.7

      Total night minutes
                    count        mean        std   min     50%    max
Churn
0                  2850.0  200.133193  51.105032  23.2  200.25  395.0
1                   483.0  205.231677  47.132825  47.4  204.80  354.9

In [227]:
dataframe.groupby(by='Churn')[columns_to_show].agg(['mean','std','min','max','var'])

      Total day minutes                                     Total eve minutes  \
                   mean        std  min    max          var              mean
Churn
0            175.175754  50.181655  0.0  315.6  2518.198517        199.043298
1            206.914079  68.997792  0.0  350.8  4760.695237        212.410145

                                           Total night minutes             \
             std   min    max          var                mean        std
Churn
0      50.292175   0.0  361.8  2529.302828          200.133193  51.105032
1      51.728910  70.9  363.7  2675.880084          205.231677  47.132825


        min    max          var
Churn
0      23.2  395.0  2611.724331
1      47.4  354.9  2221.503165

In [232]:
pd.crosstab(dataframe['Churn'],dataframe['International plan'])

International plan  False  True
Churn
0                    2664    186
1                     346    137

In [234]:
pd.crosstab(dataframe['Churn'],dataframe['Voice mail plan'],normalize=True)

Voice mail plan     False     True
Churn
0                0.602460  0.252625
1                0.120912  0.024002

In [251]:
dataframe.pivot_table(columns_to_show,["Churn"],aggfunc=["std","mean"])

                    std                                        \
      Total day minutes Total eve minutes Total night minutes
Churn
0             50.181655         50.292175           51.105032
1             68.997792         51.728910           47.132825

                   mean
      Total day minutes Total eve minutes Total night minutes
Churn
0            175.175754        199.043298          200.133193
1            206.914079        212.410145          205.231677

In [250]:
dataframe.groupby(by='Churn')[columns_to_show].agg(["std","mean"])

      Total day minutes             Total eve minutes              \
                    std        mean               std        mean
Churn
0             50.181655  175.175754         50.292175  199.043298
1             68.997792  206.914079         51.728910  212.410145

      Total night minutes
                      std        mean
Churn
0               51.105032  200.133193
1               47.132825  205.231677

In [252]:
dataframe['Total_charge']=dataframe['Total day charge']+dataframe['Total eve charge']+dataframe['Total night charge']

In [256]:
dataframe.drop(['Total_charge'],axis=1,inplace=True)

In [257]:
dataframe.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Price
845,FL,144,415,False,True,51,283.9,98,48.26,192.0,...,16.32,196.3,85,8.83,10.0,4,2.70,1,0,8.83
2716,WV,137,510,False,True,50,186.5,94,31.71,178.0,...,15.13,215.6,100,9.70,12.1,4,3.27,2,0,9.70
2887,OR,134,415,False,True,50,208.8,130,35.50,132.9,...,11.30,136.7,107,6.15,11.1,4,3.00,2,0,6.15
1596,AR,63,510,False,True,49,214.9,86,36.53,198.2,...,16.85,170.8,139,7.69,8.2,5,2.21,0,0,7.69
277,SD,144,408,False,True,48,189.8,96,32.27,123.4,...,10.49,214.2,106,9.64,6.5,2,1.76,2,1,9.64

In [262]:
pd.crosstab(dataframe['Churn'],dataframe['International plan'],margins=True)

International plan  False  True   All
Churn
0                    2664   186  2850
1                     346   137   483
All                  3010   323  3333